In [1]:
import json 
import pandas as pd
import plotly.express as px
import plotly.io as pio
pio.renderers.default ="browser"

In [2]:

with open(r"C:\Users\tomis\Desktop\NBS_states.geojson") as f:
        geo_data = json.load(f)

In [5]:
state_id_map={}
for feature in geo_data['features']:
    feature['id']=feature['properties']['OBJECTID']
    state_id_map[feature['properties']['OBJECTID']]= feature['id']

In [6]:
state_id_map

{1: 1,
 2: 2,
 3: 3,
 4: 4,
 5: 5,
 6: 6,
 7: 7,
 8: 8,
 9: 9,
 10: 10,
 11: 11,
 12: 12,
 13: 13,
 14: 14,
 15: 15,
 16: 16,
 17: 17,
 18: 18,
 19: 19,
 20: 20,
 21: 21,
 22: 22,
 23: 23,
 24: 24,
 25: 25,
 26: 26,
 27: 27,
 28: 28,
 29: 29,
 30: 30,
 31: 31,
 32: 32,
 33: 33,
 34: 34,
 35: 35,
 36: 36,
 37: 37}

In [7]:

pop_df=pd.read_csv('states_nigeria.csv', sep= ',' )
geo_data['features'][1]['properties']

{'OBJECTID': 2,
 'id': 'sv_boundary_states.fid-65d4c550_169d91acef3_3f0d',
 'geometry_t': 'MULTIPOLYGON',
 'state_code': 'GO',
 'state_name': 'Gombe',
 'capital_ci': 'Gombe',
 'global_id': '7f847a2d-2643-4825-91f6-629e58024fe8',
 'source': 'eHA_Polio',
 'geographic': 'NEZ',
 'Shape__Area': None,
 'Shape__Length': None,
 'Shape__Area_2': 1.37364675607703,
 'Shape__Length_2': 6.1126200715803}

In [8]:
pop_df

    SNo         State  Underemployment Population  Rate
0    32         Abia                       558684  34.8
1     3      Adamawa                       687469  38.4
2     7    Akwa Ibom                       551101  21.7
3    11      Anambra                       384176  17.0
4     8       Bauchi                       441737  43.0
5    34      Bayelsa                       212834  20.6
6    25        Benue                      1159815  43.9
7     6        Borno                       373338  33.0
8    21  Cross River                       520595  26.6
9    26         Delta                      500790  20.1
10   37       Ebonyi                       344114  25.7
11   18          Edo                       692160  34.9
12   24        Ekiti                       288519  23.7
13   35        Enugu                       478943  22.3
14    2        Gombe                       476178  35.8
15   30          Imo                       656394  26.4
16   20       Jigawa                       748937  37.8
17   15       Kaduna                      1108231  32.9
18   12         Kano                      1602610  35.5
19   16      Katsina                      1049620  38.1
20   14        Kebbi                       552718  36.2
21   31         Kogi                       620800  33.0
22   29        Kwara                       275090  26.4
23   36        Lagos                      1504345  22.0
24   13     Nasarawa                       270881  26.2
25   10        Niger                       608432  29.1
26    9         Ogun                       461935  20.7
27   27         Ondo                       664006  31.8
28   28         Osun                       420889  21.7
29   19          Oyo                       575218  18.1
30   17      Plateau                       512559  28.0
31   23       Rivers                       775974  19.8
32    1       Sokoto                       371443  23.9
33   22       Taraba                       361396  26.7
34    5         Yobe                       428425  38.4
35    4       Zamfara                      653227  43.7
36   33           fct                      400090  22.5

In [9]:
pop_df.head()

   SNo       State  Underemployment Population  Rate
0   32       Abia                       558684  34.8
1    3    Adamawa                       687469  38.4
2    7  Akwa Ibom                       551101  21.7
3   11    Anambra                       384176  17.0
4    8     Bauchi                       441737  43.0

In [10]:
geo_data['features'][23]['id']

24

In [11]:
pop_df['Underemployment Population']

0      558684
1      687469
2      551101
3      384176
4      441737
5      212834
6     1159815
7      373338
8      520595
9      500790
10     344114
11     692160
12     288519
13     478943
14     476178
15     656394
16     748937
17    1108231
18    1602610
19    1049620
20     552718
21     620800
22     275090
23    1504345
24     270881
25     608432
26     461935
27     664006
28     420889
29     575218
30     512559
31     775974
32     371443
33     361396
34     428425
35     653227
36     400090
Name: Underemployment Population, dtype: int64

In [12]:
nig_coords= {"lat": 9.0820, "lon": 8.6753}

In [17]:
 fig= px.choropleth_mapbox(
     pop_df,
     locations= "SNo",
     geojson=geo_data,
     color="Underemployment Population",
     hover_name="State",
     center= nig_coords,
     zoom = 5,
     opacity = 0.75,
     color_continuous_scale= "mint",
     mapbox_style="carto-positron",
     labels = {"Underemployment Population", "State"}
 )
fig.update_layout(margin ={"t":0,"b":0,"l":0,"r":0})

fig.show()

In [14]:
pop_df.sort_values(by="Underemployment Population", ascending=False).head()

    SNo     State  Underemployment Population  Rate
18   12     Kano                      1602610  35.5
23   36    Lagos                      1504345  22.0
6    25    Benue                      1159815  43.9
17   15   Kaduna                      1108231  32.9
19   16  Katsina                      1049620  38.1

In [20]:
fig= px.choropleth_mapbox(
     pop_df,
     locations= "SNo",
     geojson=geo_data,
     color="Rate",
     hover_name="State",
     center= nig_coords,
     zoom = 6,
     opacity = 0.75,
     color_continuous_scale= "redor",
     mapbox_style="carto-positron",
     labels = {"Underemployment Population", "State"}
 )
fig.update_layout(margin ={"t":0,"b":0,"l":0,"r":0})

fig.show()